{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support Desk</title>
    <link href="{% static 'assets/css/theme.min.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link rel="preload" as="font" href="{% static 'assets/fonts/Inter-UI-upright.var.woff2' %}" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="{% static 'assets/fonts/Inter-UI.var.woff2' %}" type="font/woff2" crossorigin="anonymous">
  </head>

  <body>
</head>
<body>
    <div class="container">
      <div class="row flex-wrap my-3 justify-content-between">
          <div class="col">
            <img src="/static/assets/img/ihorizon.png" class="ihorizon-img" alt="iHorizon" />
          </div>
          <div>
            <a href="{% url 'supportdesk_my_request' %}">
              <button class="btn btn-link border-primary text-primary mr-2">My request ({% if my_num_of_request %}{{my_num_of_request}}{% else %}0{% endif %})</button>
          </a>
          <a href="{% url 'supportdesk_create_request' %}">
              <button class="btn btn-primary bg-primary mr-2">
                <img src="{% static 'assets/img/icons/interface/plus.svg' %}" alt="ADD" /> New request
              </button>
          </a> 
          <a href="{% url 'logout' %}">
            <button class="btn btn-danger">Logout</button>
          </a> 
          </div>
      </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
